p, h4 {
    margin: 0;
    padding: 0;
}

.part1 p,
.part2 p {
    display: inline-block;
    margin-right: 40px;
}

em {
    margin-right: 14px;
    font-style: normal;
    font: 700;
}

.section {
    margin-bottom: 16px;
}

.section:last-child {
    margin-bottom: 0;
}

.header {
    width: 20%;
    float: left;
    background-color: lightblue;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
    padding-bottom: 3000px;
    margin-bottom: -3000px;
}

.main {
    float: left;
}

.page {
    overflow: hidden;
}